@import url(http://fonts.googleapis.com/css?family=Donegal+One);


/* CSS RESET */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
a { color:#000; text-decoration: none; }
input, select, textarea, button{ font-family: inherit; }

/* CODE */

body { font-family: "Donegal One", helvetica, arial, sans-serif; }

#header { position: absolute; top:0; left:0; right:0; height: 60px; padding: 10px 10px 0 30px; border-bottom: 1px solid #000;  margin: 0; background-color: #AAAAAA; font-weight:100; font-size: 50px; overflow:hidden; min-width: 640px; }
#header #authorlabel { font-size: 25px; }
#workpanel { position: absolute; left:0; bottom:0; right:0; top: 71px; margin:0; padding: 0; overflow:scroll; background-color: #EEEEEE; }
#workpanel #object { width: 100px; height: 100px; display:block; transform-origin: 50% 50%; }
#tools { position: fixed; right: 0; bottom:110px;  top: 71px; width: 300px; }
#tools #toolslist { position: absolute; left:0; right:0; top:0; height: 183px; padding: 0; margin: 10px; border: 1px solid #aaa; background-color: #fff; overflow: hidden; }
#tools #toolsused { position: absolute; left:0; right:0; bottom: 0; top: 193px; min-height: 100px; padding: 0; margin: 10px; border: 1px solid #aaa; background-color: #fff; overflow:scroll; }
#tools .transformation { user-select: none; height: 35px; margin: 0; padding: 5px 10px; color: #aaa; border-bottom: 1px solid #aaa; cursor: pointer; }
#tools .transformation:hover { color: #666; background-color: #fbfbfb; }
#tools .transformation:active { color: #333; background-color: #eeeeee; }
#tools .transformation span { margin:0; padding:0; padding-top: 10px; float:left; display:block; width: 110px; }
#tools #toolslist .transformation span { width: 240px; }
#tools #toolsused .transformation .input { font-size: 14px; float: right; margin: 5px 0 5px 5px; }
#tools #toolsused .transformation .input input { font-size: 14px; color: inherit; width: 25px; border: 0; padding: 5px; margin:0; }
#snippet { position: fixed; bottom:0; left:0; right:0; height: 100px; margin: 10px; border: 1px solid #aaa; background-color: #fff; }
#snippet textarea { margin: 0; padding: 0; border: 0; font-family: "Courier New"; font-size: 14px; }
/*#wrapper #editpanel #tabbar { height: 25px; background: #fafafa; border-bottom: 1px solid #aaa; }

/*
body { background-image: url('bg.png'); }
#wrapper { width: 600px; margin: 20px auto 0 auto; border: 10px solid #fff; }
#wrapper #header { height: 160px; background: url('innerbg.png'); border-bottom: 10px solid #fff;  }
#wrapper #header #mainLogo { width: 600px; height: 120px; background-image: url('mainlogo.png'); }
#wrapper #header #menuItems li { margin: 0px 12px 0px 8px; width: 130px; height: 20px; text-align:center; font-family: "Trebuchet MS"; font-size: 17px; font-weight:bold; color: #000; float:left; color: #4B5868; }
#wrapper #header #menuItems li:hover { transform: scale(1.1); -ms-transform: scale(1.1); -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); }
#wrapper #header #menuItems li img { width: 20px; height: 20px; padding-right: 5px; }
#wrapper #header #menuItems li a span { position: relative; bottom: 3px; }
#wrapper #header #menuItems li.transitioning { transition: .5s; -ms-transition: .5s; -webkit-transition: .5s; -moz-transition: .5s; -o-transition: .5s; }
#wrapper #header #menuItems li.animationReset { position:relative; top: -50px; opacity:0; }
#wrapper .body { background-image: url('bodybg.png'); padding: 10px; color: #3D454E; }
#wrapper .body h3 { font-size: 20px; font-family: "Trebuchet MS"; height: 25px; padding: 5px 20px; margin-bottom: 10px; border-bottom: 5px solid #fff; }
#wrapper #contact .content div { font: 15px "Trebuchet MS"; padding: 0px 7px; margin-bottom: 5px; }
#wrapper #contact .content img { width: 50px; height: 50px; margin: 10px 10px 0px 10px; border: 4px solid #fff }
#wrapper .initialHide { display: none; }
#wrapper #footer { height: 15px; border-top: 10px solid #fff; background: url('innerbg.png'); padding: 20px; text-align: center; font-family: "Trebuchet MS"; font-size: 15px; color: #4B5868; }
*/