@import url(http://fonts.googleapis.com/css?family=Donegal+One);
@import url(http://fonts.googleapis.com/css?family=Domine:400,700);


/* CSS RESET */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
a { color:#000; text-decoration: none; }
input, select, textarea, button{ font-family: inherit; }

/* CODE */

body { font-family: 'Domine', serif; background-color: #FFE0B7;  }

#header { font-family: "Donegal One", helvetica, arial, sans-serif; position: absolute; z-index: 20; top:0; left:0; right:0; height: 60px; padding: 10px 10px 0 30px; border-bottom: 1px solid #0091FF;  margin: 0; background-color: #79C5FF; font-weight:100; font-size: 50px; overflow:hidden; min-width: 600px; }
#header #helpbutton { position: absolute; font-size: 24px; right:0; top:0; width: 20px; height: 20px; margin: 10px; text-align: center; padding: 15px; border: 1px solid #0A95FF; border-radius: 25px; background-color: #ADDCFF; cursor: pointer; }
#header #helpbutton:hover { background-color: #D4ECFF; }
#header #helpbutton:active { background-color: #fff; }
#workpanel { position: absolute; left:0; bottom:0; right:0; top: 71px; margin:0; padding: 0; overflow:hidden; min-width: 640px; min-height: 480px; }
#workpanel #svgcoordinates {  }
#workpanel #object { width: 100px; height: 100px; position: absolute; z-index: 0; transition: transform .5s; -webkit-transition: -webkit-transform .5s; -moz-transition: -moz-transform .5s; -o-transition: -o-transform .5s; -ms-transition: -ms-transform .5s; }
#tools { position: fixed; right: 0; bottom:150px;  top: 71px; width: 350px; }
#tools #toolslist { opacity: 0.9; position: absolute; z-index: 1; left:0; right:0; top:0; height: 183px; padding: 0; margin: 10px; border: 1px solid #D28723; background-color: #fff; overflow: hidden; }
#tools #toolsused { opacity: 0.9; position: absolute; z-index: 1; left:0; right:0; bottom: 0; top: 193px; min-height: 115px; padding: 0; margin: 10px; border: 1px solid #D28723; background-color: #fff; overflow:auto; }
#tools .transformation { height: 35px; margin: 0; padding: 5px 10px; color: #AC6B14; border-bottom: 1px solid #D28723; }
#tools #toolslist .transformation { cursor:pointer; }
#tools #toolslist .transformation:hover { color: #AC6B14; background-color: #fbfbfb; }
#tools .transformation .button { margin: 2px 10px 2px 0; width: 30px; height: 30px; display: block; float: left; cursor: pointer; }
#tools #toolslist .transformation .button { background-image: url(plus.svg); }
#tools #toolsused .transformation .button { background-image: url(minus.svg); }
#tools .transformation span { padding: 8px 0; float:left; display:block; width: 70px; }
#tools #toolsused .transformation .deleteT { float:left; display:block; font-size: 12px; }
#tools #toolsused .tTranslate, #tools #toolsused .tSkew { height: 50px; }
#tools #toolsused .tScale, #tools #toolsused .tRotate { height: 32px; }
#tools #toolsused .transformation .input { font-size: 12px; float: right; display:block; margin: 6px 5px 0 5px; }
#tools #toolsused .transformation .input input { font-size: 12px; color: inherit; width: 50px; border: 0; padding: 2px 2px 0 2px; margin:0 0 1px 0; background: transparent; border-bottom: 1px solid #D28723; text-align: right; }
#tools #toolsused .transformation .input input:focus { outline: none; border-bottom: 1px solid #D28723; }
#tools #toolsused .notransformation { text-align: center; font-size: 14px; padding: 20px; color: #AC6B14; }
#snippet { position: absolute; z-index: 1; bottom:0; left:0; right:0; height: 128px; margin: 10px; padding:5px; border: 1px solid #D28723; background-color: #fff; opacity:0.9; }
#snippet #matrix { position: absolute; left:0; top:0; bottom:0; width: 200px; padding: 5px; margin:0; font-size: 14px;  } 
#snippet #matrix #grid { border-left: 2px solid #000; border-right: 2px solid #000; width: 193px; height: 100px; margin: 10px 2px; }
#snippet #matrix #grid .row { padding: 0; margin: 0; height: 35px; width: 192px; }
#snippet #matrix #grid .row .cell { padding: 5px 0; margin:0; height: 25px; width: 64px; float: left; text-align: center; overflow: hidden; }
#snippet #textarea { position: absolute; left:210px; right: 130px; top:0; bottom:0; height: 128px; border:0; margin:0; padding:5px; border-left: 1px solid #D28723; border-right: 1px solid #D28723; }
#snippet #textarea span { display: block; font-size: 14px;  height: 20px; }
#snippet #textarea textarea { resize:none; width: 100%; height: 108px; margin:0; border:0; padding:0; font-family: "Courier New"; font-size: 14px; background-color: transparent; color: #000; outline: none; }
#snippet #credits { position: absolute; top:0; right:0; bottom:0; width: 100px; margin:0; padding: 40px 15px; font-size: 12px; line-height: 1.5; text-align: center; font-weight: 700; }
#snippet:hover, #tools #toolsused:hover, #tools #toolslist:hover { opacity: 1;} 
#help { position: absolute; left:0; bottom:0; right:0; top:71px; z-index: 2; background-color: #fff; opacity:.95; display: none; overflow:auto; }
#help strong { font-weight: 700; }
#help .titlefont { font-family: "Donegal One", helvetica, arial, sans-serif; }
#help p { margin: 10px 40px 40px 40px; line-height: 1.5; font-size: 14px; }
#help h1 { margin: 30px 20px 20px 70px; font-weight:700; font-size: 21px; }
#help h2 { margin: 30px 20px 20px 50px; font-weight:700; font-size: 16px; }

/*
AC6B14



|  0.333  0.333  0.333  |
|  |
|  |











*/